*{
    margin:0px;
    padding:0px;
    font-family:sans-serif;
}
:root {
    --base-bg:hsl(223deg 100% 76.98%);
    --bg: hsl(from var( --base-bg) h s calc(l + 10));
    --card: hsl(from var( --base-bg) h s calc(l - 20));
    --p-text: hsl(from var( --base-bg) h s calc(l - 27));
    --text: white;
}

body{
    background-color:var(--base-bg);
    
}
header{
    display:flex;
    height:50px;
    justify-content:space-around;
    background-color:var(--card);
    color:var(--text);
    box-shadow: 5px -7px 18px 5px rgb(0 0 0);

}
header nav a {
    text-decoration:none;
    color:var(--text);
    font-weight:bold;
    position:relative;
    top:15px;
    margin:12px;
}
main{
    display:inline-grid;
    justify-content:center;
}
h3{
    margin-top:22px ;
}
.overview{
    margin:12px;
    overflow:hidden;
    border-radius:12px;
    width:412px;
    background-color:var(--card);
    color:var(--text);
    box-shadow: 4px 7px 20px 0px rgb(0 0 0);
}
.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-top:42px;
    width:1300px;
    border-radius:12px;
    position:relative;
    left:112px;
    box-shadow: 4px 7px 20px 0px rgb(0 0 0);
    background-color:var(--card);
    color:var(--text);
}
.container h3{
    color:var(--text);
}
table {
    margin:12px 10px 12px 10px;
    color:var(--bg);
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
    background-color:var(--base-bg);
    color:white;
}

th {
    background: var(--p-text);
    color: white;
}
tr td a{
    display:block;
    padding:4px;
    border-radius:7px;
    border:2px solid var(--text);
    text-decoration:none;
    color:white;
}
tr td a:hover{
    background-color:var(--card);
    transform: translateY(-5px);
}